/* Menu */
.navbar-desctop-menu li a:hover,
.navbar-desctop-menu .active > a {
    color: var(--blanco);
}

.navbar-desctop-menu > li > a {
    color: var(--blanco);
    background-color: transparent;
    margin-bottom: 1.5em;
    font-weight: 500;
    text-transform: initial;
}

/* Inicio */
.current-number,
.count {
    color: var(--secundary) !important;
}
.social-list > li > a {
    color: var(--text-color-gris);
}

/* Slider */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
li > .overlay {
    background-color: var(--negro);
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    z-index: 2;
}

.tp-parallax-wrap {
    z-index: 3 !important;
}
.slide-title {
    padding: 50px 20px 0px 0px !important;
}
@media (max-width: 767px) {
    .slide-title {
        padding: 0px 30px 0px 0px !important;
        line-height: 40px !important;
        font-size: 29px !important;
    }
    .tp-caption {
        padding: 0 30px 0 0px !important;
    }
    .btn-slider {
        line-height: 12px !important;
        padding: 9px 24px !important;
        letter-spacing: 2px !important;
        font-size: 15px !important;
        margin-top: 36px !important;
    }
}
/* Form */
.close-form {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.form-control-simple,
textarea.form-control-simple {
    font-size: 1em;
    width: 100%;
    height: 1.8em;
    border-radius: 0em;
    padding-left: 22px;
    color: #666666;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}
.input-field-sm {
    width: 100%;
    background-color: transparent;
    margin: 10px 0;
    height: 42px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 0 0.4rem;
    position: relative;
    align-items: center;
    justify-content: center;
}

.input-field-sm select {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--text-color);
    appearance: none;
    width: 100%;
    height: 100%;
}

.input-field-sm svg {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 0.9rem;
    margin-left: -6px;
}

.input-field i,
.input-field svg,
.input-field img {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 0.9rem;
}
.input-field input,
.input-field select {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--text-color);
    appearance: none;
    width: 100%;
    height: 100%;
    text-transform: lowercase;
}
.input-field {
    width: 100%;
    background-color: var(--input);
    margin: 10px 0;
    height: 55px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 0 0.4rem;
    position: relative;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}
.input-field-2 {
    width: 100%;
    background-color: var(--input);
    margin: 10px 0;
    height: 55px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}
.input-field-2 select {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 200;
    font-size: 0.9rem;
    color: var(--text-color);
    appearance: none;
    width: 99%;
    height: 100%;
    background: url("../img/form/flecha2.svg") no-repeat right;
}
.input-field input::placeholder {
    color: var(--primary);
    font-weight: 200;
    text-align: center;
}
.autoComplete_wrapper {
    height: 3.4rem;
}
.autoComplete_wrapper > input::selection {
    color: var(--text-color) !important;
    border: 0px;
}
.autoComplete_wrapper > input:focus {
    color: var(--text-color) !important;
    border: 0px;
}
.autoComplete_wrapper > input:hover {
    color: var(--text-color) !important;
    border: 0px;
}
.autoComplete_wrapper > input::placeholder {
    color: var(--text-color) !important;
}
.no_result {
    display: none !important;
}
.autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: var(--text-color) !important;
    font-weight: 700;
}
.autoComplete_wrapper > ul > li {
    margin: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-align: left;
    font-size: 0.8rem;
    color: #212121;
    border-radius: 0.35rem;
    background-color: #fff;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
}

.autoComplete_wrapper > ul > li:hover {
    cursor: pointer;
    background-color: #081e5c26;
}
.autoComplete_wrapper > ul {
    width: 27vw;
    max-height: 226px;
    left: -48px;
}
@media (max-width: 767px) {
    .autoComplete_wrapper > ul {
        width: 45vw;
        max-height: 226px;
        left: -37px;
    }
}
.autoComplete_wrapper > input {
    padding: 0rem !important;
}
.line-form {
    height: 100%;
    color: transparent;
    border-right: 1px solid var(--text-color);
}
@media (max-width: 991px) {
    .line-form {
        height: auto;
        width: 100%;
        color: transparent;
        border-right: 0px;
        border-bottom: 1px solid var(--text-color);
    }
}

.espacio-form {
    padding: 0rem 4rem;
}
@media (max-width: 991px) {
    .espacio-form {
        padding: 0rem 0rem;
    }
}
.altura-linea-form {
    height: auto;
}
@media (max-width: 991px) {
    .altura-linea-form {
        height: 2vh;
    }
}
.btn {
    font-family: "primaryRegular", sans-serif;
    position: relative;
    display: inline-block;
    border: 0.2em solid var(--primary);
    border-radius: 4px;
    padding: 0.6em 2.2em 0.6em;
    font-size: 0.875em;
    color: var(--blanco);
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary);
    border: 0;
    -webkit-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.btn:hover {
    background-color: var(--primary);
}
.form-quality-adultos,
.form-quality-ninos {
    width: 80px;
    overflow: hidden;
    position: relative;
    border: 0px;
}

.form-quality-adultos > input,
.form-quality-ninos > input {
    width: 83px;
    border: none;
    height: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.form-quality-adultos .qtybutton.dec,
.form-quality-ninos .qtybutton2.dec {
    font-size: 30px;
    top: 33%;
    line-height: 17px;
    background: var(--primary);
    padding: 0.1rem 0.2rem;
    left: 5px;
}
.form-quality-adultos .qtybutton,
.form-quality-ninos .qtybutton2 {
    position: absolute;
    color: var(--blanco);
    left: 10px;
    cursor: pointer;
}
.form-quality-adultos .qtybutton.inc,
.form-quality-ninos .qtybutton2.inc {
    left: auto;
    right: 5px;
    font-size: 20px;
    top: 33%;
    line-height: 17px;
    padding: 0.1rem 0.2rem;
    background: var(--primary);
}
.quantity-menu {
    min-width: 250px;
    cursor: default;
}

.form-quality-adultos .qtybutton.inc::selection,
.form-quality-adultos .qtybutton.dec::selection,
.form-quality-ninos .qtybutton2.inc::selection,
.form-quality-ninos .qtybutton2.dec::selection {
    background: transparent;
}

/* Nosotros */
.bg-texto {
    font-family: "primaryBold", sans-serif !important;
    color: #f3f3f3;
    font-weight: 500;
    font-size: 10vw;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-top: 4%;
}
@media (max-width: 991px) {
    .bg-texto {
        display: none;
    }
}
.content-text-nosotros {
    position: absolute;
    font-family: "primaryBold", sans-serif !important;
    top: 19%;
    left: 12%;
    z-index: 2;
    margin-top: 4%;
}
@media (max-width: 991px) {
    .content-text-nosotros {
        position: relative;
        top: 0%;
        left: 0%;
        z-index: 2;
        margin-top: 4%;
    }
}
.text-section-nosotros {
    font-family: "primaryBold", sans-serif !important;
    font-weight: 500;
}

/* Contacto */
.cuadro-blanco {
    background: var(--blanco);
    padding: 2rem;
    width: 29rem;
    height: 29rem;
    margin-left: 10%;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .cuadro-blanco {
        background: var(--blanco);
        padding: 2rem;
        width: 91vw;
        height: 50vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
}

/* Registro */
.bg-registro {
    height: 35vh !important;
}

/* Alertas */
.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: var(--primary);
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: var(--primary);
    color: #fff;
    font-size: 1em;
}
.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: var(--primary);
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.swal2-icon.swal2-error {
    border-color: var(--secundary);
    color: var(--secundary);
}
.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: var(--secundary);
}
.slide-number {
    display: none;
}
