.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secundary {
    color: var(--secundary) !important;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
}
.plr-10p {
    padding: 0rem 10%;
}
.texto-lg-3r {
    font-size: 3rem;
}
.texto-lg-2r {
    font-size: 2rem;
}
.border-bottom-white {
    border-bottom: 5px solid #fff;
    width: auto;
}
.p-10p {
    padding: 10%;
}
.cuadro-primary {
    background: var(--primary);
    padding: 1rem;
    height: 22rem;
}
.cuadro-secundary {
    background: var(--secundary);
    padding: 1rem;
    height: 22rem;
}
small,
.small {
    font-size: 1.1rem;
}
.mt-6 {
    margin-top: 5rem;
}
@media (min-width: 1000px) {
    .ocultar-pc {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .ocultar-md {
        display: none !important;
    }
    .pr-md-0 {
        padding-right: 0px;
    }
    .mr-md-0 {
        margin-right: 0px;
    }
    .pl-md-0 {
        padding-left: 0px;
    }
    .ml-md-0 {
        margin-left: 0px;
    }
    .plr-10p {
        padding: 0rem 0rem;
    }
    .text-center-md {
        text-align: center;
    }
    .p-10p {
        padding: 5%;
    }
}

@media (max-width: 767px) {
    .texto-lg-3r {
        font-size: 2rem;
    }
    .texto-lg-2r {
        font-size: 1.5rem;
    }
    .cuadro-primary {
        height: auto;
    }
    .cuadro-secundary {
        height: auto;
    }
}
