.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secundary {
    color: var(--secundary) !important;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: auto;
}
.plr-10p {
    padding: 0rem 10%;
}
.texto-lg-4r {
    font-size: 4rem;
}
.texto-lg-3r {
    font-size: 3rem;
}
.texto-lg-2r {
    font-size: 2rem;
}
.border-bottom-white {
    border-bottom: 5px solid var(--blanco);
    width: auto;
}
.border-bottom-rojo {
    display: block;
    margin: 0 auto;
    border-bottom: 5px solid var(--secundary);
    width: auto;
}
.p-10p {
    padding: 10%;
}
.ml-10p {
    margin-left: 10%;
}
.ml-5p {
    margin-left: 5%;
}
.cuadro-primary {
    background: var(--primary);
    padding: 1rem;
    height: 22rem;
}
.cuadro-secundary {
    background: var(--secundary);
    padding: 1rem;
    height: 22rem;
}
small,
.small {
    font-size: 1.1rem;
}
.mt-6 {
    margin-top: 5rem;
}
.hv-100 {
    min-height: 100vh;
}
.btn-secundary {
    font-family: "primaryRegular", sans-serif;
    position: relative;
    display: inline-block !important;
    border: 0.2em solid var(--secundary) !important;
    border-radius: 4px;
    padding: 0.6em 2.2em 0.6em;
    font-size: 0.875em;
    color: var(--blanco) !important;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--secundary) !important;
    margin-top: -12px;
    border: 0;
    -webkit-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.bg-primary {
    background: var(--primary) !important;
}
.disabled-input {
    pointer-events: none;
    opacity: 0.4;
}
@media (min-width: 1000px) {
    .ocultar-pc {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .ocultar-md {
        display: none !important;
    }
    .pr-md-0 {
        padding-right: 0px;
    }
    .mr-md-0 {
        margin-right: 0px;
    }
    .pl-md-0 {
        padding-left: 0px;
    }
    .ml-md-0 {
        margin-left: 0px;
    }
    .plr-10p {
        padding: 0rem 0rem;
    }
    .text-center-md {
        text-align: center;
    }
    .p-10p {
        padding: 5%;
    }
}

@media (max-width: 767px) {
    .texto-lg-4r {
        font-size: 2.5rem;
    }
    .texto-lg-3r {
        font-size: 2rem;
    }
    .texto-lg-2r {
        font-size: 1.5rem;
    }
    .cuadro-primary {
        height: auto;
    }
    .cuadro-secundary {
        height: auto;
    }
    .ml-10p {
        margin-left: 0%;
    }
}
